{
    //支持let、const、箭头函数等
    "presets": [
        ["@babel/preset-env", {
            "modules": false
        }]
    ],
    "plugins": [
        //支持[].includes()、Promise等
        ["@babel/plugin-transform-runtime",
            {
                "corejs": 3
            }
        ],
        //支持类class
        "@babel/plugin-proposal-class-properties"
    ]
}